* {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: 600;
    scroll-behavior: smooth;
}

a {
    display: inherit;
    text-decoration: none;
    color: inherit;
}

.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #202020;
    position: fixed; z-index: 1;
    height: 100vh;
    width: 0;
    padding: 0;
    box-shadow:4px 7px 10px rgba(0,0,0,.4);
    transition: width 0.5s ease-in-out 0.05s;
}

.sidebar:hover{
    width: 170px;
}

.sidebar::after{
    content: "â±";
    position: absolute;
    right: -25px;
    top: 40%;
    width: 25px;
    height: 80px;
    font-weight: normal;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    border-radius: 0 10px 10px 0;
    transition: opacity 0.5s;
}

.sidebar:hover::after{
    opacity: 0;
}

li.item {
    width: 100%;
    height: 15vh;
    display: flex;
    overflow: hidden;
    color: white;
    font-size: 25px;
    font-family: 'roboto';
    font-weight: normal;
    align-items: center;
    text-indent: 20px;
    transition: all 0.3s ease-in-out 0.05s;
}

li.item:hover {
    background-color: white;
    color: #202020;
}

ul.list {
    display: grid;
    grid-auto-rows: 100vh;
    grid-gap: 5px;

    background: white;
    height: 100vh; /*snap only works with an explicit height*/
    overflow-y: auto;
    scroll-snap-type: y mandatory;

    list-style: none;
    padding: 0;
}

ul.list > * {
    display: flex;
    background: #0d0d0d;
    color: white;
    font-size: large;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    scroll-snap-align: start;
}

ul.list > .profile-bg {
    background: url('../assets/profile-bg.jpg'), grey;
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    overflow: hidden;
}

.name {
    display: flex;
    font-size: 7vw;
}

.name::after {
    content: "aka WindOfXaos";
    margin-block-start: 3.17em;
    color:black;
    position: relative;
    height: fit-content;
    background: white;
    font-family: monospace;
    font-size: 1.5vw;
}

.role {
    font-family: 'Roboto';
    font-weight: bold;
    text-transform: uppercase;
    font-size: 25px;
}

.icons {
    display: flex;
    padding: 0;
    list-style: none;
    gap: 30px;
}

/* scroll arrows animation */
/* ----------------------- */
.cont{
    position: relative;
    top: 15%;
    width: 28px;
    height: 8px;
}
.scroll {
  position: absolute;
  width: inherit;
  height: inherit;
  opacity: 0;
  transform: scale3d(0.5, 0.5, 0.5);
  animation: move 3s ease-out infinite;
}

.scroll:first-child {
  animation: move 3s ease-out 1s infinite;
}

.scroll:nth-child(2) {
  animation: move 3s ease-out 2s infinite;
}

.scroll:before,
.scroll:after {
  content: ' ';
  position: absolute;
  top: 0;
  height: 100%;
  width: 51%;
  background: #fff;
}

.scroll:before {
  left: 0;
  transform: skew(0deg, 30deg);
}

.scroll:after {
  right: 0;
  width: 50%;
  transform: skew(0deg, -30deg);
}

@keyframes move {
  25% {
    opacity: 1;

  }
  33% {
    opacity: 1;
    transform: translateY(30px);
  }
  67% {
    opacity: 1;
    transform: translateY(40px);
  }
  100% {
    opacity: 0;
    transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
  }
}

.alert {
    display: flex;
    position: absolute;
    align-items: center;
    top: 2.5vh;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    z-index: 100;
    border-radius: .125rem;
    padding: .3rem;
    color: black;
    background-color: #E2E3E3;
}

.text {
    margin-left: 0.5em;
    font-size: 0.43em;
}

.icon{
    font-size: 0.4em;
}
