*{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: 600;
    scroll-behavior: smooth;
}

a {
    display: inherit;
    text-decoration: none;
}

ul.list {
    display: grid;
    grid-auto-rows: 100vh;

    list-style: none;
    padding: 0;
}

ul.list > * {
    display: flex;
    background: black;
    border: solid white 5px;
    color: white;
    font-size: large;
    justify-content: center;
    align-items: center;
}

.sidebar {
    display: flex;
    position: fixed;
    height: 100%;
}

ul.insidebar {
    display: grid;
    grid-auto-rows: 1fr;

    list-style: none;
    padding: 0;

    transform: translateX(-200px);
    transition: all 0.5s ease-in-out 0.05s;
}

ul.insidebar > a > * {
    display: flex;
    background: black;
    border: solid white 5px;
    color: white;
    font-size: large;
    justify-content: center;
    align-items: center;
}

.sidebar:hover ul.insidebar{
    transform: translateX(0px);
}
